* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
 * Navbar
 */

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: rgba(0,0,0,0.9); /* nature black */
}

nav {
    box-shadow: 0 0 3px 1px rgba(0,0,0,0.3);
}

.container {
    width: 70%;
    margin: 0 auto; /* horizontal center */
}

.logo {
    width: 2rem;
}

nav li {
    list-style: none;
    padding: 0 1rem;
    line-height: 3rem;
    transition: 0.5s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

nav li:hover {
    background-color: #e6e6e6;
    transition: 0.5s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center; /* vertical center the elements e.g. logo */
}

/*
 * Header
 */

header {
    background-image: url(../../assets/media/header.jpg);
    background-size: cover;
    background-position: center center;
    padding: 8rem 0;
    color: #fff;
    text-align: center;
}

.title {
    text-shadow: 0 1px 5px rgba(0,0,0,0.9);
}

.intro {
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
}

.mtb-4 {
    margin: 4rem 0;
}

.mb-4 {
    margin-bottom: 4rem;
}

.btn-intro {
    padding: 0.5rem 2.5rem;
    color: #fff;
    background-color: #43a7a7;
    border-radius: 3rem;
    box-shadow: 0 0 3px 1px rgba(0,0,0,0.3);
}

/*
 * Header
 */
