* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav li, nav li:hover, .card-item, .card-item:hover, .card-item img, .card-item a:hover img {
    transition: 0.5s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

/*
 * Navbar
 */

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: rgba(0,0,0,0.9); /* nature black */
}

nav {
    box-shadow: 0 0 3px 1px rgba(0,0,0,0.3);
}

.container {
    width: 70%;
    margin: 0 auto; /* horizontal center */
}

.logo {
    width: 2rem;
}

nav li {
    list-style: none;
    padding: 0 1rem;
    line-height: 3rem;
}

nav li:hover {
    background-color: #e6e6e6;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center; /* vertical center the elements e.g. logo */
}

/*
 * Header
 */

header {
    background-image: url(../../assets/media/header.jpg);
    background-size: cover;
    background-position: center center;
    padding: 8rem 0;
    color: #fff;
    text-align: center;
}

.title {
    text-shadow: 0 1px 5px rgba(0,0,0,0.9);
}

.intro {
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
}

.mtb-4 {
    margin: 4rem 0;
}

.mb-4 {
    margin-bottom: 4rem;
}

.btn-intro {
    padding: 0.5rem 2.5rem;
    color: #fff;
    background-color: #43a7a7;
    border-radius: 3rem;
    box-shadow: 0 0 3px 1px rgba(0,0,0,0.3);
}

/*
 * Cards
 */

.cards {
    padding: 2rem 0;
    text-align: center;
}

.card-item {
    width: 300px;
    display: inline-block;
    margin: 1rem;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.3);
}

.card-item:hover {
    box-shadow: 0 10px 15px 0 rgba(0,0,0,0.2), 0 5px 20px 0 rgba(0,0,0,0.2);
}

.card-item a:hover img {
    opacity: 0.9;
}

.card-item .container {
    margin: 1rem auto;
}

.card-title {
    margin-bottom: 1rem;
    color: rgba(0,0,0,0.9);
    font-weight: 300;
}

.card-intro {
    color: rgba(0,0,0,0.5);
    font-style: italic;
}


/*
 * Footer
 */

footer {
    height: 50px;
    background-color: rgba(0,0,0,0.9);
    color: #fff;
}

.copyright {
    line-height: 50px;
}

/*
 * Hamburger menu
 */

 .ham {
    display: none;
 }

@media only screen and (max-width: 520px) {
    .flex-between {
        flex-direction: column;
    }
    .container .flex-between {
        display: none;
    }

    nav li {
        border-top: 1px solid gray;
    }

    .ham {
        display: block;
        position: absolute;
        right: 2rem;
        font-size: 1rem;
    }

    .container .flex-between.menu--active {
        display: block;
        width: 100%;
        text-align: center;
    }
}