/* Simple Reset CSS */
* {
    margin: 0px;
    padding: 0px;
    /* box-sizing: border-box; */
}

.container {
    width: 300px;
    margin: 50px;
    box-shadow: 0 0 0px 10px #938ba1;
}

.container div {
    height: 50px;
    margin-bottom: 25px;
}

.w100p div {
    width: 100%;
}

.bd {
    border: 5px dashed purple;
}

.pd {
    padding-left: 50px
}

.mg {
    margin-left: 50px
}

/*
 * Background Color
 */
.bg-red {
    background-color: #d7fdec;
}

.bg-cyan {
    background-color: #a9fbd7;
}

.bg-green {
    background-color: #B2E4DB;
}

.bg-purple {
    background-color: #b0c6ce;
}